<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="static/style.css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
      integrity="sha512-Mo79lrQ4UecW8OCcRUZzf0ntfMNgpOFR46Acj2ZtWO8vKhBvD79VCp3VOKSzk6TovLg5evL3Xi3u475Q/jMu4g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Searched Book</title>
  </head>
  <body>
    <div class="dock">
      <div class="dock-container">
        <a href="/" class=""
          ><i
            class="fa fa-home"
            style="font-size: 26px; color: black"
            aria-hidden="true"
          ></i
        ></a>
        <form action="/recommend" method="post" class="d-flex">
          <input
            name="user_input"
            type="text"
            class="form-control mx-2"
            placeholder="Recommend..."
            required="1"
            id="search"
          />

          <select name="show" class="custom-select" id="wgtmsr">
            <option selected value="6">05</option>
            <option value="11">10</option>
            <option value="16">15</option>
          </select>
          <button type="submit" class="btn btn-dark">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
    <h3 class="text-center my-1">Similar Books</h3>
    <div class="container my-2">
      <div class="row justify-content-center">
        {% if data %} {% for i in data %}
        <div class="col-6 col-md-4 col-lg-3 mb-2">
          <div class="card">
            <img class="card-img-top" src="{{i[2]}}" alt="Card image cap" />
            <div class="card-body">
              <h6 class="card-title font-weight-bold">{{i[0]}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{i[1]}}</h6>
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <h3 class="text-center my-3" style="color: tomato">NOT FOUND !</h3>

        {% endif %}
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
